{% extends "base.html" %}

{% block content %}
<h3 class="display-3 text-light fw-medium my-5 mx-auto">Welcome to Twinkle Town!</h3>
<div class="container-fluid text-center">
    <div class="row justify-content-center">
        <div class="col-lg-5 text-start">
            <div class="card border border-light border-2 p-2 mb-5" style="background-color: rgba(250, 250, 250, 0.1);">
                <div class="card-body text-light">
                    <p class="mb-3">
                        This Christmas, the air is filled with magic, laughter, and… the sweet scent of chocolate! 
                        Gather 'round, my friends, for a game of mystery, delight, and a sprinkle of holiday magic.
                    </p>
                    <p class="mb-3">
                        Each of you will receive a special chocolate bar, lovingly crafted with joy and festive cheer. 
                        But here's the catch: <strong>only one of these chocolate bars contains a golden ticket!</strong> 
                        The lucky friend who finds the ticket will win a very special Christmas gift. 🎁<br>
                        The rest of you will still enjoy the sweet consolation of chocolate and the thrill of the hunt! 🔍 
                    </p>
                    <p class="mb-2"><strong>How to play</strong></p>
                    <ul class="mb-3">
                        <li>📦 You can track your own chocolate delivery by pressing the <strong>"My delivery"</strong> button in the navbar.</li>
                        <li>🍫 When your package arrives, open it and check for a golden ticket—if you find one, you won the prize!</li>
                        <li>🎅 Want to see who else is part of the game? Check out the <strong>"Who's in?"</strong> button on the home page or in the navbar.</li>
                        <li>🎁 Once all the deliveries are completed, you'll be able to discover the prize and the winner (if it’s not you!) by clicking the <strong>"Secret prize"</strong> button in the navbar.</li>
                        <li>🎲 Remember: the winner is selected at random, so everyone has an equal chance to find the golden ticket!</li>
                    </ul>
                    <p class="mb-1">
                        So, ready to start?
                        Just wait for your chocolate gift, keep your eyes open for the glittering prize, and let’s make this a Christmas to remember!<br><br>
                        Good luck, my golden-ticket seekers. Let the magic begin! 🍫✨
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}