<div class="modal-header py-2 px-4">
  <h5 class="modal-title special-text fs-2 fw-bold">{{ object.name }}</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body d-flex flex-column">
    <span class="px-2 pb-2">{{ object.description }}</span>
    {% if not user.is_authenticated %}
        <div class="d-flex flex-column px-2 mt-1 opacity-50">
            <span class="special-text fw-bold my-1">Indizio #2</span>
            <span class="small lh-1">Osserva: la luce scrive la chiave, la chiave accende la luce.</span>
        </div>
        <div id="login-form" class="mt-4">
            {% include "partials/login_form.html" %}
        </div>
    {% endif %}
</div>