{% extends "base.html" %}

{% block content %}
<div class="container-fluid text-center my-3">
    <div class="row justify-content-center mt-3">
        <div class="col-lg-5 text-start">
            <div class="mt-3 d-flex flex-column align-items-center">
                <button class="btn btn-primary special-text fs-5 px-3 py-2 mb-3" type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#collapseFinal" 
                aria-expanded="false" 
                aria-controls="collapseFinal">
                    Clicca per rivelare
                </button>
                <div class="collapse mb-3" id="collapseFinal">
                    <div class="card card-body border border-primary border-2 fw-light text-light p-4 z-3 mx-2" style="background-color: rgba(250, 250, 250, 0.1);">
                        <p>
                            Come promesso, ora che tutta Twinkle Town è illuminata, posso finire di raccontarvi questa storia: 
                            si sa, le città invisibili sono tutte collegate, non hanno bisogno di segnali, indicazioni, ponti; 
                            esistono nella mente di chi le immagina e - per questo - sulle loro strade corrono pensieri, 
                            da una parte all'altra, senza cartelli di confine o distanze di sorta.
                        </p>
                        <p>   
                            Twinkle Town, questo piccolo paese invisibile che avete appena visitato, è un luogo in cui la mia mente torna spesso: 
                            ogni volta che qualcuno di voi mi manca.
                        </p>
                        <p>
                            Ci sono, però, altri luoghi "invisibili" che il mio pensiero non raggiunge quanto dovrebbe. 
                            Per questo, il piccolo regalo che Twinkle Town custodisce per voi è una donazione che ho fatto a 
                            <span class="fw-medium">Medici Senza Frontiere per Gaza</span> (da <a href="https://www.medicisenzafrontiere.it/landing/gaza/">qui</a>).
                        </p>
                        <p>
                            Spero che vi faccia piacere aver partecipato a questo pensiero-viaggio.
                        </p>
                        <p class="mb-0">    
                            Buon anno e buona strada, vi abbraccio!
                        </p>
                    </div>
                </div>
            </div>
            <div class="card p-3 mx-2 mt-4" style="background-color: rgba(250, 250, 250, 0.1);">
                <div class="card-body text-light z-3">
                    <figure class="mb-0">
                        <blockquote class="blockquote">
                            <p class="fw-light fst-italic fs-6">
                                – Sire, eri distratto. Di questa città appunto ti stavo raccontando quando m’hai interrotto.<br>
                                – La conosci? Dov’è? Qual è il suo nome?<br>
                                – Non ha nome né luogo. Ti ripeto la ragione per cui la descrivevo: dal numero delle città immaginabili 
                                    occorre escludere quelle i cui elementi si sommano senza un filo che li connetta, senza una regola interna, 
                                    una prospettiva, un discorso. È delle città come dei sogni: tutto l'immaginabile può essere sognato ma anche 
                                    il sogno piú inatteso è un rebus che nasconde un desiderio, oppure il suo rovescio, una paura. 
                                    Le città come i sogni sono costruite di desideri e di paure, anche se il filo del loro discorso è segreto, 
                                    le loro regole assurde, le prospettive ingannevoli, e ogni cosa ne nasconde un’altra.<br>
                                – Io non ho desideri né paure, – dichiarò il Kan, – e i miei sogni sono composti o dalla mente o dal caso.<br>
                                – Anche le città credono di essere opera della mente o del caso, ma né l’una né l’altro bastano a tener su le loro 
                                    mura. D’una città non godi le sette o le settantasette meraviglie, ma la risposta che dà a una tua domanda.<br>
                            </p>
                        </blockquote>
                        <figcaption class="blockquote-footer text-secondary py-1 mb-0">
                            Italo Calvino in <cite title="Le città invisibili">Le città invisibili</cite>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="p-3 mt-3">
                <p class="lead text-info">Grazie – perchè nel reticolo di strade sempre da sbrogliare, siete un filo teso che riporta a casa.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}