{% extends "base.html" %}
{% load static %}

{% block content %}
<h3 class="display-3 text-light fw-bold my-5 mx-auto">Who's in town?</h3>
<div class="d-flex flex-row justify-content-center align-items-center mx-4">
    <form method="get">
        <button type="submit" name="shuffle" class="btn btn-outline-primary py-2 px-3">
            <span class="small me-1">Shuffle</span>
            <i class="fa-solid fa-dice"></i>
        </button>
    </form>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 g-4 mx-3 mt-3 mb-5">
    {% for user in users %}
        <div class="col">
            <div class="card border border-primary border-2 rounded-5" style="height: 130px;">
                <div class="card-body py-3 px-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-7">
                            <h5 class="special-text text-nowrap card-title fs-3 fw-bold">{{ user.first_name }}</h5>
                        </div>
                        <div class="col-5">
                            {% with 'img/svg/'|add:user.username|add:'.svg' as img_path %}
                                <img src="{% static img_path %}" alt="Icon" class="img-fluid img-svg float-end" style="height: 100px">
                            {% endwith %}
                        </div>     
                    </div>          
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}