{% extends "base.html" %}
{% load static %}

{% block content %}
<h3 class="display-3 text-light text-center px-3 my-5 mx-auto">Chi è sulla via di casa?</h3>
<div class="d-flex flex-row justify-content-center align-items-center mx-4">
    <form method="get">
        <button type="submit" name="shuffle" class="btn btn-sm btn-outline-primary px-3">
            <span class="me-1">Casuale</span>
            <i class="fa-solid fa-dice"></i>
        </button>
    </form>
</div>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-5 g-4 mx-3 mt-3 mb-5">
    {% for user in users %}
        <div class="col">
            <div class="card border border-primary border-2 rounded-5" style="height: 130px;">
                <div class="card-body py-3 px-4">
                    <div class="row d-flex flex-row align-items-center justify-content-between">
                        <div class="col-7 d-flex flex-column">
                            <span class="special-text text-nowrap mb-1 fs-3 fw-bold">{{ user.first_name }}</span>
                            {% if user.last_login %}
                                <span>{{ user.house.name }}</span>
                            {% else %}
                                <span class="placeholder-glow mb-0"
                                    data-bs-toggle="popover" 
                                    data-bs-content="{{ user.first_name }} è ancora in viaggio! Riesci già a indovinare qual è la sua casa?">
                                    <span class="placeholder placeholder-xs w-100"></span>
                                </span>
                            {% endif %}
                        </div>
                        <div class="col-5">
                            {% with 'img/svg/'|add:user.username|add:'.svg' as img_path %}
                                <img src="{% static img_path %}" alt="Icon" class="img-fluid img-svg float-end" style="height: 100px">
                            {% endwith %}
                        </div>     
                    </div>          
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}