#particles-js {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    /* background-color: #bf360c; /* Optional background color */
    background-size: cover;
    background-position: 50% 50%;
    pointer-events: none;
}